<footer style="background-color: rgb(71, 71, 71);">
    <div class="inner">
        <div class="top" style="padding-top: 40px; padding-bottom: 40px; display: flex; justify-content: space-evenly;">
            <div class="candidates">
                <h3 style="color: white; text-align: center;">For Candidates</h3>
                <div class="inner-candidates">
                    <ul>
                        <li style="list-style: none;"><a style ="text-decoration: none; color: rgb(187, 186, 186);font-size: 18px;" href="#">Register</a></li>
                        <li style="list-style: none;"><a style ="text-decoration: none; color: rgb(187, 186, 186);font-size: 18px;" href="#">Find Jobs</a></li>
                        <li style="list-style: none;"><a style ="text-decoration: none; color: rgb(187, 186, 186);font-size: 18px;" href="#">News</a></li>
                        <li style="list-style: none;"><a style ="text-decoration: none; color: rgb(187, 186, 186);font-size: 18px;" href="#">Search Jobs</a></li>
                        <li style="list-style: none;"><a style ="text-decoration: none; color: rgb(187, 186, 186);font-size: 18px;" href="#">Contact</a></li>
                        <li style="list-style: none;"><a style ="text-decoration: none; color: rgb(187, 186, 186);font-size: 18px;" href="#">Careers</a></li>
                    </ul>
                </div>
            </div>
            <div class="employers">
                <h3 style="color: white; text-align: center;">For Employers</h3>
                <div class="inner-employers">
                    <ul>
                        <li style="list-style: none;"><a style ="text-decoration: none; color: rgb(187, 186, 186);font-size: 18px;" href="#">Employer account</a></li>
                        <li style="list-style: none;"><a style ="text-decoration: none; color: rgb(187, 186, 186);font-size: 18px;" href="#">Clients</a></li>
                        <li style="list-style: none;"><a style ="text-decoration: none; color: rgb(187, 186, 186);font-size: 18px;" href="#">News</a></li>
                        <li style="list-style: none;"><a style ="text-decoration: none; color: rgb(187, 186, 186);font-size: 18px;" href="#">Find Candidates</a></li>
                        <li style="list-style: none;"><a style ="text-decoration: none; color: rgb(187, 186, 186);font-size: 18px;" href="#">Terms and Policies</a></li>
                        <li style="list-style: none;"><a style ="text-decoration: none; color: rgb(187, 186, 186);font-size: 18px;" href="#">Careers</a></li>
                    </ul>
                </div>
            </div>
            <div class="company">
                <h3 style="color: white;">Company</h3>
                <div class="inner-employers">
                    <ul>
                        <li style="list-style: none;"><a style ="text-decoration: none; color: rgb(187, 186, 186);font-size: 18px;" href="#">About</a></li>
                        <li style="list-style: none;"><a style ="text-decoration: none; color: rgb(187, 186, 186);font-size: 18px;" href="#">Team</a></li>
                        <li style="list-style: none;"><a style ="text-decoration: none; color: rgb(187, 186, 186);font-size: 18px;" href="#">Terms and Policies</a></li>
                        <li style="list-style: none;"><a style ="text-decoration: none; color: rgb(187, 186, 186);font-size: 18px;" href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="contact">
                <h3 style="color: white;">Contact Info</h3>
                <div class="inner-employers">
                   <h4 style="color: rgb(187, 186, 186);">Address</h4>
                   <p style="color: rgb(187, 186, 186);">Kathmandu, Nepal</p>
                   <h4 style="color: rgb(187, 186, 186);">Telephone</h4>
                   <p style="color: rgb(187, 186, 186);">025-253565</p>
                   <h4 style="color: rgb(187, 186, 186);">Email</h4>
                   <p style="color: rgb(187, 186, 186);">yourdreamjob@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="bottom" style="padding-bottom: 40px; display: flex; justify-content: center;">
            <p style="color: rgb(187, 186, 186); font-size: 20px;">Copyright © 2023 All Rights Reserved | YourDream Job Team 💜 </p>
        </div>
    </div>
    
</footer>