{% extends './base.html' %}

{% block style %}
<style>
.pagination {
    text-align: center;
    margin-top: 20px;
  }
    
  .step-links a {
    color: #007bff;
    text-decoration: none;
    margin: 0 5px;
  }
  
  /* Current page indicator */
  .current {
    font-weight: bold;
  }
  
  /* Styling for first and last page links */
  .step-links a:first-child,
  .step-links a:last-child {
    border: 1px solid #26baee;
    padding: 5px 10px;
    border-radius: 4px;
  }
  
  .step-links a:nth-child(2),
  .step-links a:nth-last-child(2) {
    background-color: #26baee;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
  }
  .step-links a:first-child:empty,
  .step-links a:last-child:empty {
    display: none;
  }
</style>
{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<style>
    .search{
        display: flex;
        flex-wrap: wrap;
    }
    .search input,select{
        height: 40px;
    }
    .search input,select{
        margin: 25px;
    }

    .search input,select ::placeholder{
        font-size: 15px;
        text-align: center;
    }
    button{
        background-color: #26baee;
        color: white;
        border: none;
        font-size: 15px;
    }
    button:hover{
        background-color: #156683;
    }
    .parallax {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .cards:hover{
        text-shadow: 2px 2px 2px 2px gray;
    }
    /* hexagon */
    .hexagon-container {
        margin: 30px;
        position: relative;
        width: 70px; /* Adjust the size as per your requirement */
        height: 80.60px; /* This value is calculated as (sqrt(3) / 2) * width */
    }

    .hexagon {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(236, 234, 234); 
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        /* border: 2px solid ;  */
        box-sizing: border-box;
    }

    /* hexagon ends here */
</style>
<div class="parallax" style="background-image: url('/static/images/jobb.webp'); background-size: cover; background-position: center; width: 100%; height: 85vh; margin: 0%;">
    <div class="abc" style="margin: 300px; margin-top: 0%; padding-top: 300px;">
        <p style="font-size: 50px;"><b>Largest Job </b>Site <br>
        On The Net</p>
        <button style="width: 100px; height: 40px; border-radius:5px 5px 0 0; font-size: 15px;">Find a job</button>
        <div class="search" style="width: 50vw; height: 100px; background-color: white; border-radius: 5px;">
            <form  >
                <input type="text" placeholder=" eg. Web Developer">
                <select name="category" style="width: 150px; background-color: white; border: 1px solid rgb(102, 100, 100);" >
                    <option value="category">Category</option>
                    <option value="fulltime">FullTime</option>
                    <option value="parttime">PartTime</option>
                    <option value="internship">Internship</option>
                    <option value="contract">Contract</option>
                </select>
                <input type="text" placeholder=" Location">
                <input type="submit" value="Submit" style="background-color: #26baee; border: none; width: 100px; color: white; border-radius: 5px;" class="hover">
            </form>
        </div>
    </div>
</div>
<div class="dataa bg-light"  style="margin-bottom: 90px;">
    <div class="inner" style="margin-top: 50px; margin-bottom: 50px; display: flex; justify-content: space-around;">
        <h2>Recent Jobs</h2>
        <button style="height: 40px; width: 200px;"><a href="{% url 'add-job' %}" style="text-decoration: none; color: white;">+ Post a Task</a></button>
    </div>

    <!-- job card starts here -->
    {% for jobs in page_obj %}
        <div class="abcs" style="display: flex; justify-content: center;">
            <div class="cards" style="display: flex; justify-content: space-between; width: 50vw;  box-shadow: 0 1px 0 0 gray; margin-bottom: 5px; background-color: white;">
                <div class="left">
                    <div class="inner-left" style="display: flex;">
                        <h2>{{jobs.title}}</h2>
                        <p style="width: 70px; height: 25px; padding: 4px; color: white; background-color: rgb(151, 151, 32); border-radius: 10px; margin-left: 10px; margin-top: 20px;">{{jobs.jtype}}</p>
                    </div>
                    <div class="inner-left" style="display: flex;">
                        <p style="margin-right: 10px;"><span class="material-symbols-outlined"> business_center</span><a href="{{jobs.wsite}}" target="_blank"> {{jobs.company}}</a></p>
                        <p><span class="material-symbols-outlined">location_on</span> {{jobs.location}} </p>
                    </div>
                </div>
                <div class="right" style="display: flex;">
                    <p style="margin-top: 25px; width: 40px; height: 40px; text-align: center; border-radius: 50%; background-color: rgb(202, 198, 198);"><span class="material-symbols-outlined" style="color: gray; padding-top: 8px;">favorite</span></p>
                    <button style="width: 100px; height: 40px; border-radius: 10px; margin-top:25px; margin-left: 10px;"><a href="{% url 'apply' jobs.id%}" style="color: white; text-decoration: none;">Apply</a></button>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="pagination" style="margin-top: 40px; display: flex; justify-content: center;">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    <!-- job card ends here -->
</div>
<div class="jobstart">
    <h2 style="text-align: center;">Why Jobstart?</h2>
    <div class="ana" style="display: flex; justify-content: center; margin-top: 40px; margin-bottom: 50px;">
        <div class="job-card" style="display: grid; grid-template-columns: auto auto auto; gap: 20px;">
            <div class="cardss" style="width: 300px; height: 300px; border: 2px solid rgb(206, 201, 201);">
               <div class="fasfas" style="display: flex;">
                    <div class="hexagon-container">
                        <div class="hexagon">
                            <span class="material-symbols-outlined" style="padding: 10px; font-size: 50px; color: gray;">business_center</span>
                        </div>
                    </div>
                    <p style="font-size: 20px; margin-top: 40px;">Search Millions of jobs</p>
               </div>
               <p style="padding: 20px; color: gray;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto harum fuga sed quaerat quae quis nobis, blanditiis, quia delectus dolores tenetur corrupti, totam accusantium odio eaque laborum laboriosam omnis ea!</p>
            </div>
            <div class="cardss" style="width: 300px; height: 300px; border: 2px solid rgb(206, 201, 201);">
               <div class="fasfas" style="display: flex;">
                    <div class="hexagon-container">
                        <div class="hexagon">
                            <span class="material-symbols-outlined" style="padding: 10px; font-size: 50px; color: gray;">location_on</span>
                        </div>
                    </div>
                    <p style="font-size: 20px; margin-top: 40px;">Location Search</p>
               </div>
               <p style="padding: 20px; color: gray;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto harum fuga sed quaerat quae quis nobis, blanditiis, quia delectus dolores tenetur corrupti, totam accusantium odio eaque laborum laboriosam omnis ea!</p>
            </div>
            <div class="cardss" style="width: 300px; height: 300px; border: 2px solid rgb(206, 201, 201);">
               <div class="fasfas" style="display: flex;">
                    <div class="hexagon-container">
                        <div class="hexagon">
                            <span class="material-symbols-outlined" style="padding: 10px; padding-left: 5px; font-size: 50px; color: gray;">travel</span>
                        </div>
                    </div>
                    <p style="font-size: 20px; margin-top: 40px;">Top Carrers</p>
               </div>
               <p style="padding: 20px; color: gray;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto harum fuga sed quaerat quae quis nobis, blanditiis, quia delectus dolores tenetur corrupti, totam accusantium odio eaque laborum laboriosam omnis ea!</p>
            </div>
            <div class="cardss" style="width: 300px; height: 300px; border: 2px solid rgb(206, 201, 201);">
               <div class="fasfas" style="display: flex;">
                    <div class="hexagon-container">
                        <div class="hexagon">
                            <span class="material-symbols-outlined" style="padding: 10px; padding-left: 5px; font-size: 50px; color: gray;">person</span>
                        </div>
                    </div>
                    <p style="font-size: 20px; margin-top: 40px;">Search Expert Candidate</p>
               </div>
               <p style="padding: 20px; color: gray;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto harum fuga sed quaerat quae quis nobis, blanditiis, quia delectus dolores tenetur corrupti, totam accusantium odio eaque laborum laboriosam omnis ea!</p>
            </div>
            <div class="cardss" style="width: 300px; height: 300px; border: 2px solid rgb(206, 201, 201);">
               <div class="fasfas" style="display: flex;">
                    <div class="hexagon-container">
                        <div class="hexagon">
                            <span class="material-symbols-outlined" style="padding: 10px; padding-left: 5px; font-size: 50px; color: gray;">assignment</span>
                        </div>
                    </div>
                    <p style="font-size: 20px; margin-top: 40px;">Easy To Manage Jobs</p>
               </div>
               <p style="padding: 20px; color: gray;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto harum fuga sed quaerat quae quis nobis, blanditiis, quia delectus dolores tenetur corrupti, totam accusantium odio eaque laborum laboriosam omnis ea!</p>
            </div>
            <div class="cardss" style="width: 300px; height: 300px; border: 2px solid rgb(206, 201, 201);">
               <div class="fasfas" style="display: flex;">
                    <div class="hexagon-container">
                        <div class="hexagon">
                            <span class="material-symbols-outlined" style="padding: 10px; padding-top: 15px; font-size: 50px; color: gray;">reviews</span>
                        </div>
                    </div>
                    <p style="font-size: 20px; margin-top: 40px;">Online Reviews</p>
               </div>
               <p style="padding: 20px; color: gray;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto harum fuga sed quaerat quae quis nobis, blanditiis, quia delectus dolores tenetur corrupti, totam accusantium odio eaque laborum laboriosam omnis ea!</p>
            </div>
        </div>
    </div>
</div>
<div class="employers" style=" margin-top: 80px; margin-bottom: 40px;">
    <h2 style="text-align: center;">Happy Employers</h2>
    <div class="sections" style="display: flex; justify-content: center;">
        <div class="cards" style="width: 300px;  margin: 10px;">
            <img class="res" style="height: 200px;  width: 300px;  border-radius: 10px;" src="/static/images/1.jpg" alt="">
            <h3>Fulkumari</h3>
            <p style="font-size: 15px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat id temporibus officiis
                 quos quis aperiam possimus, explicabo nisi in hic incidunt nam accusantium sed labore 
                 debitis atque, fugiat cum dolorum.</p>
        </div>
        <div class="cards" style="width: 300px;  margin: 10px;">
            <img class="res" style="height: 200px;  width: 300px;  border-radius: 10px;" src="/static/images/2.jpg" alt="">
            <h3>Fulkumari</h3>
            <p style="font-size: 15px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat id temporibus officiis
                 quos quis aperiam possimus, explicabo nisi in hic incidunt nam accusantium sed labore 
                 debitis atque, fugiat cum dolorum.</p>
        </div>
        <div class="cards" style="width: 300px;  margin: 10px;">
            <img class="res" style="height: 200px;  width: 300px;  border-radius: 10px;" src="/static/images/3.jpg" alt="">
            <h3>Fulkumari</h3>
            <p style="font-size: 15px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat id temporibus officiis
                 quos quis aperiam possimus, explicabo nisi in hic incidunt nam accusantium sed labore 
                 debitis atque, fugiat cum dolorum.</p>
        </div>
    </div>
</div>
<div class="blog" style="margin-bottom: 40px;">
    <h2 style="text-align: center; margin-bottom: 40px;">Latest Blog</h2>
    <div class="sections" style="display: flex; justify-content: center;">
        <div class="cards" style="width: 300px;  margin: 10px;">
            <img class="res" style="height: 200px;  width: 300px;  border-radius: 10px;" src="/static/images/1.jpg" alt="">
            <div class="small" style="display: flex; margin-top: 15px;">
                <p style="padding-right: 20px;">By <span style="color: #26baee;">Member</span></p>
                <li > Jul 31th, 2023</li>
            </div>
            <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                 Dolor, tenetur! Velit obcaecati beatae,</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae 
                incidunt natus cum! Quibusdam ab repudiandae ex, 
                atque quasi deleniti tempore optio dicta dolor 
                aliquam doloribus doloremque commodi voluptates 
                itaque minus.</p>
        </div>
        <div class="cards" style="width: 300px;  margin: 10px;">
            <img class="res" style="height: 200px;  width: 300px;  border-radius: 10px;" src="/static/images/2.jpg" alt="">
            <div class="small" style="display: flex; margin-top: 15px;">
                <p style="padding-right: 20px;">By <span style="color: #26baee;">Member</span></p>
                <li > Jul 31th, 2023</li>
            </div>
            <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                 Dolor, tenetur! Velit obcaecati beatae,</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae 
                incidunt natus cum! Quibusdam ab repudiandae ex, 
                atque quasi deleniti tempore optio dicta dolor 
                aliquam doloribus doloremque commodi voluptates 
                itaque minus.</p>
        </div>
        <div class="cards" style="width: 300px;  margin: 10px;">
            <img class="res" style="height: 200px;  width: 300px;  border-radius: 10px;" src="/static/images/3.jpg" alt="">
            <div class="small" style="display: flex; margin-top: 15px;">
                <p style="padding-right: 20px;">By <span style="color: #26baee;">Member</span></p>
                <li > Jul 31th, 2023</li>
            </div>
            <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                 Dolor, tenetur! Velit obcaecati beatae,</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae 
                incidunt natus cum! Quibusdam ab repudiandae ex, 
                atque quasi deleniti tempore optio dicta dolor 
                aliquam doloribus doloremque commodi voluptates 
                itaque minus.</p>
        </div>
        <div class="cards" style="width: 300px;  margin: 10px;">
            <img class="res" style="height: 200px;  width: 300px;  border-radius: 10px;" src="/static/images/4.jpg" alt="">
            <div class="small" style="display: flex; margin-top: 15px;">
                <p style="padding-right: 20px;">By <span style="color: #26baee;">Member</span></p>
                <li > Jul 31th, 2023</li>
            </div>
            <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                 Dolor, tenetur! Velit obcaecati beatae,</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae 
                incidunt natus cum! Quibusdam ab repudiandae ex, 
                atque quasi deleniti tempore optio dicta dolor 
                aliquam doloribus doloremque commodi voluptates 
                itaque minus.</p>
        </div>
        
    </div>
</div>
<div class="newsletter" style="background-color: #26baee; height: 20vh; margin-bottom: 0%;">
    <div class="gasga">
        <h3 style="color: white; text-align: center; padding-top: 30px; padding-bottom: 20px;" >Subscribe Newsletter</h3>
        <div class="inner" style="display: flex; justify-content: center;">
            <form method="post">
                <input style="width: 600px; height: 40px; font-size: 20px;" type="email" placeholder="Enter your email" required>
                <input style="width: 100px; height: 40px; margin-left: 17px; font-size: 17px; background-color: black; border: none; color: white;" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}